---
import Layout from "../layouts/Layout.astro";
import CaseSvelte from "./_CaseSvelte.svelte";
import CaseAstro from "./_CaseAstro.astro";
---

<Layout title="Astro playground | nanostores-search-params" page="astro">
  <main class="prose">
    <h1>Astro playground</h1>
    <p class="notice">Playground intro notice.</p>
    <h2>script tag in Astro template</h2>
    <CaseAstro />
    <h2>Svelte (client:only)</h2>
    <CaseSvelte client:only="svelte" />
    <h2>Svelte (client:load)</h2>
    <CaseSvelte client:load />
  </main>
</Layout>
