---
import Layout from "../layouts/Layout.astro";
import CaseSvelte from "./_CaseSvelte.svelte";
import CaseAstro from "./_CaseAstro.astro";
---

<Layout title="nanostores-search-params playground">
  <main>
    <h1><span class="text-gradient">nanostores</span>-search-params</h1>
    <p class="opening">Playground intro notice.</p>
    <h2>Astro Template script tag</h2>
    <CaseAstro />
    <h2>Svelte (client:only)</h2>
    <CaseSvelte client:only="svelte" />
    <h2>Svelte (client:load)</h2>
    <CaseSvelte client:load />
  </main>
</Layout>
