---
import Layout from "../layouts/Layout.astro";
import CaseSvelte from "./_CaseSvelte.svelte";
import CaseAstro from "./_CaseAstro.astro";
---

<Layout title="nanostores-search-params playground">
  <main>
    <h1><span class="text-gradient">nanostores</span>-search-params</h1>
    <p class="opening">Playground intro notice.</p>
    <h2>Astro Template script tag</h2>
    <CaseAstro />
    <h2>Svelte (client:only)</h2>
    <CaseSvelte client:only="svelte" />
    <h2>Svelte (client:load)</h2>
    <p>
      This currently fails because (a) the search-params store needs <code
        >location</code
      > to load and (b) sharing the same store requires that we actually import from
      the same file (and we have to share the store to share the listeners).
    </p>

    <p>Or we could have some sort of singleton in the main file.</p>
  </main>
</Layout>
