:root {
  --accent: 19, 216, 160;
  --accent-light: 194, 240, 227;
  --accent-dark: 7, 70, 52;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
}
html {
  font-family: system-ui, sans-serif;
  background: #13151a;
  font-size: 20px;
}
code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

main {
  margin: auto;
  padding: 1rem;
  width: 800px;
  max-width: calc(100% - 2rem);
  color: white;
  line-height: 1.6;
}
.astro-a {
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translatex(-50%);
  width: 220px;
  height: auto;
  z-index: -1;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 1em;
}
.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}
.opening {
  margin-bottom: 2rem;
  border: 1px solid rgba(var(--accent-light), 25%);
  background: linear-gradient(
    rgba(var(--accent-dark), 66%),
    rgba(var(--accent-dark), 33%)
  );
  padding: 1.5rem;
  border-radius: 8px;
}
.opening code {
  font-size: 0.8em;
  font-weight: bold;
  background: rgba(var(--accent-light), 12%);
  color: rgb(var(--accent-light));
  border-radius: 4px;
  padding: 0.3em 0.4em;
}
.opening strong {
  color: rgb(var(--accent-light));
}
main input {
  font-size: 1rem;
  width: 100%;
  padding: 0.25rem;
  margin-bottom: 1rem;
}
.inputHeader {
  font-size: 0.75rem;
  font-weight: bold;
}
main button {
  font-size: 1rem;
  margin-bottom: 2rem;
  border: 1px solid rgba(255, 255, 255, 25%);
  color: white;
  background: linear-gradient(rgba(50, 50, 50, 66%), rgba(50, 50, 50, 33%));
  padding: 0.5rem;
  border-radius: 6px;
}
main button:hover {
  background: linear-gradient(
    rgba(var(--accent-dark), 66%),
    rgba(var(--accent-dark), 33%)
  );
}
main button:active {
  background: linear-gradient(
    rgba(var(--accent-dark), 50%),
    rgba(var(--accent-dark), 25%)
  );
}
